<!-- articles/templates/archive.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Архив статей</title>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/article.css' %}">
</head>
<body class="archive">
    
    <div class="header">
        <div class="header-left">
            <h1><a href="{% url 'archive' %}" style="color: white; text-decoration: none;">Архив статей</a></h1>
        </div>
        <div class="header-right">
            {% if user.is_authenticated %}
                <span class="welcome">Привет, {{ user.username }}!</span>
                <a href="{% url 'create_post' %}" class="create-link">Создать статью</a>
                <a href="{% url 'logout' %}" class="logout-link">Выйти</a>
            {% else %}
                <a href="{% url 'login' %}" class="login-link">Войти</a>
                <a href="{% url 'register' %}" class="register-link">Регистрация</a>
            {% endif %}
        </div>
    </div>
    
    <div class="archive">
        {% for post in posts %}
        <div class="one-post">
            <h2 class="post-title">
                <a href="{% url 'get_article' post.id %}">{{ post.title }}</a>
            </h2>
            <div class="article-info">
                <div class="article-author">{{ post.author.username }}</div>
                <div class="article-created-date">{{ post.created_date }}</div>
            </div>
            <p class="article-text">{{ post.get_excerpt }}</p>
            <button class="fold-button">свернуть</button>
        </div>
        {% empty %}
        <p>Статей пока нет.</p>
        {% endfor %}
    </div>
    <script src="{% static 'js/helloworld.js' %}"></script>
    <script src="{% static 'js/fold-post.js' %}"></script>
</body>
</html>